<footer class="navbar fixed-bottom navbar-light bg-light footertxt">
    <div class="container">
        <div class="row w-100">
            <div class="col-md-2 d-none footerLeft"><img src="../../../assets/images/Logo.png" height="30" class="img-fluid"/></div>
            <div class="col-md-12 col-lg-6 col-xl-6 footerMenu">
                <ul class="footerNav">
                    <li>
                      <a href="#">Disclaimer</a>
                    </li>
                    <li>
                      <a href="#">Privacy & Cookies</a>
                    </li>
                    <li>
                      <a href="#">GDPR</a>
                    </li>
                    <li>
                      <a href="#">Securities Act Statement</a>
                    </li>
                  </ul>
            </div>
            <div class="col-md-12 col-lg-4 col-xl-4 text-md-left text-lg-right text-xl-right footerCopy">    
                <span class="navbar-text">
                    &copy; 2018 Wolters Kluwer. All Rights Reserved.
                  </span>
            </div>
        </div>
    </div>
</footer>