<footer class="navbar fixed-bottom navbar-light bg-light footertxt">
    <div class="container">
        <div class="row w-100">
            <div class="col-md-2 d-none footerLeft"><img src="../../../assets/images/Logo.png" height="30" class="img-fluid"/></div>
            <div class="col-md-12 col-lg-5 footerMenu">
                <ul class="footerNav">
                    <li>
                      <a href="#">Disclaimer</a>
                    </li>
                    <li>
                      <a href="#">Privacy & Cookies</a>
                    </li>
                    <li>
                      <a href="#">GDPR</a>
                    </li>
                    <li>
                      <a href="#">Securities Act Statement</a>
                    </li>
                  </ul>
            </div>
            <div class="col-md-12 col-lg-5 px-0 text-md-left text-lg-right text-xl-right footerCopy">    
                    &copy; 2018 Wolters Kluwer N.V and/or its affiliates. All Rights Reserved.                  
            </div>
        </div>
    </div>
</footer>