<div class="userconfigurations-container">

<form [formGroup]="userconfig">
    <div class="form-row">
        <div class="form-group col-md-3">
          <label for="">User Name</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Jhon">
        </div>
        <div class="form-group col-md-2">
          <label for="">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Jhon@gamil.com">
        </div>
        <div class="form-group col-md-2">
          <label for="">Telephone</label>
          <input type="tel" class="form-control" formControlName="telephone" placeholder="+44 125478">
        </div>
        <div class="form-group col-md-2">
            <label for="feedType" class="form-label">User Role</label>
            <ngx-bootstrap-multiselect [options]="myOptions" [(ngModel)]="optionsModel" formControlName="userRole" (ngModelChange)="onChange()" [settings]="mySettings" class="form-control p-0" ></ngx-bootstrap-multiselect>


            <!-- <ngx-select [form-control]="selectControl"></ngx-select> -->

            <!-- <select class="form-control" aria-label="Feed Type" formControlName="sftpFeedType">
                <option selected>User Group</option>
                <option>
                  <input type="checkbox" class="custom-control-input" id="">
                  <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                </option>
                <option>--</option>
            </select> -->
        </div>
        <div class="form-group col-md-2">
          <label for="" class="w-100">&nbsp;</label>
          <button type="submit" class="btn btn-primary user-btn">Add User</button>
        </div>
    </div>
</form>


</div>