<div class="container dualContainer">


    <div class="row">
        <div class="col-md-12">
            <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>

            <div class="input-group">
                <input [(ngModel)]="selected"
       [typeahead]="mySearchCreteria"
       [optionsListTemplate]="mySearchCreteriaTemplate"
       [typeaheadScrollable]="true"
       [typeaheadOptionsInScrollableView]="5"
       [adaptivePosition]="true"
       class="form-control">
       
<ng-template #mySearchCreteriaTemplate let-matches="matches" let-query="query" let-typeaheadTemplateMethods>
    <ul class="mySearchCreteriaList">
      <li class="custom-list-group-item"
          *ngFor="let match of matches"
          [class.active]="typeaheadTemplateMethods.isActive(match)"
          (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
          (mouseenter)="typeaheadTemplateMethods.selectActive(match)">
        {{ match.item }}
      </li>
    </ul>
  </ng-template>
                <div class="input-group-append">
                    <span class="input-group-text">Search</span>
                  </div>
            </div>




 
        </div>
    </div>

    <br/>

    <div class="row duallist">
        <div class="col-md-4">
            <ul>
                <li 
                  *ngFor="let item of list1" 
                  [class.item-selected]="item.selected"
                  (click)="toggleSelection(item, 1)">{{item.text}}</li>
              </ul>
        </div>
    
        <div class="col-md-2 text-center">
            <button kendoButton (click)="moveSelected('right')" class="btn btn-primary d-block w-100">
                > Add
            </button>
            <button kendoButton (click)="moveAll('right')" class="btn btn-primary d-block w-100 my-2">
                >> Move All
            </button>
            <button kendoButton (click)="moveSelected('left')"  class="btn btn-primary d-block w-100">
                < Remove
            </button>
            <button kendoButton (click)="moveAll('left')"  class="btn btn-primary d-block w-100 my-2">
                << Move All
            </button>
        </div>
        <div class="col-md-4">
            <ul>
            <li *ngFor="let item of list2" 
                [class.item-selected]="item.selected"
                (click)="toggleSelection(item, 2)">{{item.text}}</li>
            </ul>
        </div>
        
    </div>
  </div>