$paramount-color:#007bff;
.customTooltip{

    *{pointer-events: auto;}

.tooltip[_nghost-miw-c57]{pointer-events: all !important}

.fixedScroll{
    padding:3px;
    ul{
        height: 100px;
        overflow-y: scroll;
        margin: 0;
        padding:0 5px;
        text-align: left;
        li{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
  }
  .dropdown-fixedheight{
      height: 100px;
      overflow-y: scroll;
      
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        &::-webkit-scrollbar-thumb {
            background: $paramount-color; 
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $paramount-color; 
            cursor: pointer;
        }
        .list-group-item{
            border: none;
        }
    
  }

  .dropdownHover{display: inline-block;}
  .dropdownHover:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

 .tableNoborder{
     border: 1px red solid;
     tr,th,td{
         border: none;
     }
 }


.openSelectOuter{
    position:relative;
 .openMultiselect{
     overflow:hidden;

     .view-checkboxes{
        border: 1px #dedddd solid;
        position: absolute;
        background-color: #fff;
        max-width:100%;
        .chklist{
            margin-right: 3px;
        }
        .all-checkboxes{
            span{ 
                &.w10{
                    width: 10%;
                }
                &.w90{
                    width: 90%;
                }
                label{
                    // word-break: break-word;
                    text-overflow: ellipsis;
                    width: 90%;
    
                    /* Required for text-overflow to do anything */
                    white-space: nowrap;
                    overflow: hidden;
    
                    margin-bottom: 0;
                }
            }
        }

        .view-limit-data{
            display: block;        
            overflow-y:scroll;
    
                height: 100px;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1; 
                }
                &::-webkit-scrollbar-thumb {
                    background: #007bff; 
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #007bff; 
                    cursor: pointer;
                }
    
        }
        
    }
 }

}
}