<div class="customTooltip">
<div class="container james">
    <p>tooltip works!</p>


<div class="openSelectOuter mb-2"> 
    <div class="input-group mb-0">
      <div class="form-control">
        <span class="badge badge-pill badge-dark">{{selecteddata.length}}</span> Selected
      </div>

      <div class="input-group-append">
        <button class="input-group-text"  (click)=openMultiselect()>
          <img src="../../../assets/images/icons/downarrow.png" alt=""/>
        </button>
      </div>

    </div>


    <div [hidden]="isShowMultiSelect" class="openMultiselect">
      <div class="view-checkboxes p-3 mt-0 mb-3">
        <div  class="row d-block clearfix all-checkboxes">
            <div [ngClass]="viewAll ? 'view-limit-data':'viewall-data'">
                <div *ngFor="let item of data; let i=index;" class="float-left col-md-3" >
                    <span class="float-left w10">
                        <input type="checkbox" [(ngModel)]="item.selected" id="check-list{{i+1}}" (ngModelChange)="onFindSelectedList()" class="chklist" /> 
                    </span>
                    <span class="float-left w90">
                        <label for="check-list{{i+1}}">{{item.label}}   </label>             
                    </span>    
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  

    

    

    
    <button type="button" class="btn btn-success"
            [tooltip]="customTooltip" triggers="click" containerClass="myTooltip">
    Show me tooltip with html
    </button>

    <ng-template #customTooltip>  
        <div  class="fixedScroll">    
            <ul>
                <li>Test 01</li>
                <li>Test 02</li>
                <li>Test 03</li>
                <li>Test 04</li>
                <li>Test 05</li>
                <li>Test 06</li>
                <li>Test 07</li>
                <li>Test 08</li>
            </ul>
        </div>
            <!-- <div  class="fixedScroll" [innerHtml]="tooltipInnerHtml"></div>     -->
    </ng-template>

    <ng-template #jamesTooltip>  
        <div  class="fixedScroll">    
            <ul>
                <li>Test 01</li>
                <li>Test 02</li>
                <li>Test 03</li>
                <li>Test 04</li>
                <li>Test 05</li>
                <li>Test 06</li>
                <li>Test 07</li>
                <li>Test 08</li>
            </ul>
        </div>
            <!-- <div  class="fixedScroll" [innerHtml]="tooltipInnerHtml"></div>     -->
    </ng-template>

    <br/><br/>

    <table class="table table-striped tableNoborder">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
                <span [tooltip]="customTooltip" triggers="mouseenter:click" >  Mark </span>
            </td>
            <td><button type="button" [tooltip]="customTooltip" class="btn-link">James</button></td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <div class="dropdown dropdownHover">
                <button class="btn btn-link dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  5
                </button>
              
                <div class="dropdown-menu dropdown-fixedheight" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another</a>
                  <a class="dropdown-item" href="#">Something</a>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another</a>
                  <a class="dropdown-item" href="#">Something</a>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another</a>
                  <a class="dropdown-item" href="#">Something</a>
                </div>
              </div>
            </td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

</div>
</div>
