<div class="distributionConfig">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore                    et
                    <br> magna aliqua. Ut enim ad minim veniam</p>

                <h6>Existing Queries</h6>
            </div>
        </div>

        <div>
            <!-- Form Start -->
            <form>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <select class="form-select w-100" multiple aria-label="multiple select example">
                            <option selected>Query 1</option>
                            <option>Query 2</option>
                            <option>Query 3</option>
                            <option>Query 4</option>
                            <option>Query 5</option>
                            <option>Query 6</option>
                            <option>Query 7</option>
                          </select>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-3 mb-3">
                        <h6>Build where clause</h6>                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="url" class="form-label">Feed Column</label>
                        <select class="form-control" formControlName="distStartYear">
                            <option selected>Start Year</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>                     
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="url" class="form-label">Condition</label>
                        <select class="form-control" formControlName="distStartYear">
                            <option selected>Between</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>                     
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="url" class="form-label">From and To</label>
                        <input type="text" placeholder="From and To"  class="form-control" >
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <button type="submit" class="btn btn-primary">Save & Execute</button>
                        <button type="reset" class="btn btn-link">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6 mt-5 mb-3">
                <h6>Result set</h6>                        
            </div>
            <div class="col-md-6 mt-5 mb-3 text-right">
                Export As <a href="#" class="btn-link ml-2">CSV</a> <a href="#"  class="btn-link ml-2">JSON</a> <a href="#"  class="btn-link ml-2">XML</a> <a href="#" class="btn-link ml-2">XQL</a> 
            </div>
            <div class="col-md-12 mb-3 table-responsive">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Food</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Text 01</td>
                          <td>Text 02</td>
                          <td>Text 03</td>
                          <td>Text 04</td>
                          <td>Text 05</td>
                          <td>Text 06</td>
                        </tr>
                        <tr>
                          <td>Text 01</td>
                          <td>Text 02</td>
                          <td>Text 03</td>
                          <td>Text 04</td>
                          <td>Text 05</td>
                          <td>Text 06</td>
                        </tr>
                        <tr>
                          <td>Text 01</td>
                          <td>Text 02</td>
                          <td>Text 03</td>
                          <td>Text 04</td>
                          <td>Text 05</td>
                          <td>Text 06</td>
                        </tr>
                        <tr>
                          <td>Text 01</td>
                          <td>Text 02</td>
                          <td>Text 03</td>
                          <td>Text 04</td>
                          <td>Text 05</td>
                          <td>Text 06</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>

</div>