<div class="adminConfig">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    laboreet <br> magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>

        <div>
            <!-- Form Start -->
            <form [formGroup]="adminconfig">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="url" class="form-label">Feed Category</label>
                        <!-- ------ -->
                            <div class="form-row align-items-center">
                              <div class="col-auto col-md-8">
                                <input type="text" class="form-control mb-2" placeholder="Enter Feed Category">
                              </div>
                             
                              <div class="col-auto col-md-4">
                                <button type="submit" class="btn btn-primary mb-2 w-100">Add to List</button>
                              </div>
                            </div>
                        <!-- ------ -->
                        <div class="outerAddlist pr-2 py-2">
                            <ul class="list-group scrollPanel">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 py-1 pl-3 pr-0">
                                Banking
                                <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 py-1 pl-3 pr-0">
                                Insurance
                                <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 pl-3 pr-0">
                                Company Memo
                                <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                                </li>

                                
                                <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 py-1 pl-3 pr-0">
                                    Banking
                                    <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 py-1 pl-3 pr-0">
                                    Insurance
                                    <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 pl-3 pr-0">
                                    Company Memo
                                    <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="url" class="form-label">Feed Type</label>
                        <!-- ------ -->
                        <div class="form-row align-items-center">
                            <div class="col-auto col-md-9">
                              <input type="text" class="form-control mb-2" placeholder="Enter Feed Type">
                            </div>
                           
                            <div class="col-auto col-md-3">
                              <button type="submit" class="btn btn-primary mb-2 w-100">Submit</button>
                            </div>
                          </div>
                      <!-- ------ -->
                        
                      <div class="outerAddlist pr-2 py-2">
                        <ul class="list-group scrollPanel">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 py-1 pl-3 pr-0">
                            XML
                            <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 py-1 pl-3 pr-0">
                            PDF
                            <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center py-1 pl-3 pr-0">
                            JPG
                            <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 py-1 pl-3 pr-0">
                            XML
                            <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 py-1 pl-3 pr-0">
                            PDF
                            <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center py-1 pl-3 pr-0">
                            JPG
                            <span class="badge badge-pill"><i class="fas fa-times btn-sm"></i></span>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>

<!-- <div class="row">
    <div class="col-md-4">        
        <label for="" class="form-label">Data Source Location</label>
        <input type="text" class="form-control mb-2" placeholder="Enter Data Source Location">
    </div>
    <div class="col-md-6"></div>
</div> -->
                
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <h6>User Role Creation</h6>                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="" class="form-label">User Role Name</label>
                        <input type="text" class="form-control mb-2" placeholder="Ingestion User Group">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="url" class="form-label">Role Access</label>

                        <ngx-bootstrap-multiselect [options]="roleOptions" [(ngModel)]="roleOptionsModel" formControlName="userRole" (ngModelChange)="onChange()" [settings]="roleSettings" class="form-control p-0" ></ngx-bootstrap-multiselect>
                        
                        <!-- <select class="form-control" formControlName="distStartYear">
                            <option selected>Citation Name</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select> -->
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="url" class="form-label w-100">&nbsp;</label>
                        <button type="submit" class="btn btn-primary">Add Role</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <button type="submit" class="btn btn-primary">Save & Execute</button>
                        <button type="reset" class="btn btn-link">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6 mt-5 mb-3">
                <h6>Result set</h6>                        
            </div>
            <div class="col-md-6 mt-5 mb-3 text-right">
                Export As <a href="#" class="btn-link ml-2">CSV</a> <a href="#"  class="btn-link ml-2">JSON</a> <a href="#"  class="btn-link ml-2">XML</a> <a href="#" class="btn-link ml-2">XQL</a> 
            </div>
            <div class="col-md-12 mb-3 table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>User Role Name</th>
                        <th>Role Access</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Text 01</td>
                          <td>Text 02</td>
                          <td>del</td>
                        </tr>
                        <tr>
                    </tbody>
                  </table>
                  
                  <div class="row">
                    <div class="col-md-6">1 - 25 of 1254</div>
                    <div class="col-md-6 text-right">&lt; page 1 of 7 &gt;</div>
                  </div>
            </div>
        </div>

</div>