<div class="exploration">
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row py-4 pb-5">
                <div class="col-md-12">
                    <h3>Configauration Setting</h3>
                    <h6>Tuesday, february 2021 </h6>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <tabset class="tabStyling">
                        <tab heading="Explore Graph">
                            <app-explore-graph></app-explore-graph>
                        </tab>
                        <tab heading="Query Configauration">
                            <app-query-configuration></app-query-configuration>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>