<div class="content-mapping">
    <div class="">
        <div class="row">
            <div class="col-md-12 my-3">
                <h5>Create New Plan</h5>
            </div>
        </div>
        
        <form>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="" class="form-label">Plan Name</label>
                    <input type="text" class="form-control" id="" formControlName="">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="" class="form-label">Maximum Data</label>
                    <input type="text" class="form-control" id="" formControlName="">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="" class="form-label">Excess Data Tolerance</label>
                    <input type="text" class="form-control" id="" formControlName="">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="" class="form-label">Maximum No of Users</label>
                    <input type="number" class="form-control" id="" formControlName="">
                </div>
            </div>
        </form>
    </div>
</div>