<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto ml-md-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active">Notifications <span class="badge badge-pill badge-danger">23</span></a>
          </li>
          <li>
            
                  <div class="dropdown show user-profile">
                    <a class="btn btn-link text-secondry dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="user-name">Jhone Doe <label>Admin</label> </span>
                      <span><img class="img-responsive img-rounded"
                      src="http://www.iconninja.com/files/742/864/1015/male-person-geek-man-avatar-user-icon.png"
                      alt="User picture"></span>
                    </a>
                  
                    <div class="dropdown-menu dropdown-menu-lg-right animated fadeInDown">
                      <button class="dropdown-item" type="button">My Account</button>
                      <button class="dropdown-item" type="button">Help</button>
                      <div class="dropdown-divider"></div>
                      <button class="dropdown-item" type="button">Signout</button>
                    </div>
                  </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Nav Close -->