<div class="user-registration">
    <div class="container">
        <h2 class="pt-4 pb-2">User Registration</h2>

        <form class="form-container pb-5 mb-5">
            <div class="row">
                <div class="col-md-12 pb-4">
                    <h5>Enter Account Manager Information</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Enter First Name">
                        <div>
                            <small id="firstname" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name">
                        <div>
                            <small id="lastname" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="emailaddress">Email Address</label>
                        <input type="email" class="form-control" id="emailaddress" placeholder="Enter Email Address">
                        <div>
                            <small id="emailaddress" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="telephone">Telephone</label>
                        <input type="text" class="form-control" id="telephone" placeholder="Select Telephone">
                        <div>
                            <small id="telephone" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Organization -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pt-4 pb-2">Organization Information</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name">
                        <div>
                            <small id="name" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Enter Address">
                        <div>
                            <small id="address" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select class="form-control" id="country">
                            <option selected>Select Country</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>
                        <div>
                            <small id="country" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="state">State</label>
                        <select class="form-control" id="state">
                            <option selected>Select State</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>
                        <div>
                            <small id="state" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="city">City</label>
                        <select class="form-control" id="city">
                            <option selected>Select City</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>
                        <div>
                            <small id="state" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="zipcode">Zip Code</label>
                        <input type="text" class="form-control" id="zipcode" placeholder="Enter Zip Code">
                        <div>
                            <small id="address" class="text-danger">
                                *Field must not be empty.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Organization close -->
            <!-- Choose Licensing Model -->            
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pt-4 pb-2">Choose Licensing Model</h2>
                </div>
            </div>         
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center text-white p-5 freebg">
                        <h3 class="pb-2">FREE</h3>
                        Data: <b>1GB</b><br/>
                        Building period: <b>N/A</b><br/>
                        Validity: <b>5 Days</b><br/>
                        No of Users: <b>1 User</b><br/>
                        <button class="btn btn-primary bestbg mt-3 px-4 py-2">Select</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" text-center text-white p-5 bestbg">
                        <h3 class="pb-2">Best Value</h3>
                        Data: <b>Unlimited</b><br/>
                        Building period: <b>Monthly basis</b><br/>
                        Validity: <b>1 Year</b><br/>
                        No of Users: <b>10 User</b><br/>
                        <button class="btn btn-primary freebg mt-3 px-4 py-2">Select</button>
                    </div>
                </div>
            </div>
            <!-- Choose Licensing Model -->
            <div class="row">
                <div class="col-md-3 mb-3 mt-5">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-link">Cancel</button>
                </div>
            </div>
        </form>        
    </div>
</div>