<div class="content-mapping">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore                    et
                    <br> magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>

        <!-- Not Required for your application-->
        <div class="p-3"></div>
        <!-- Not Required -->
        
        <div>
            <tabset class="inner-tab-tyling">
                <tab heading="Map staging tables" class="p-3">
                    <div class="row">
                        <div class="col-md-6">
                            Existing Mapping
                        </div>
                        <div class="col-md-6 text-right">
                           <button (click)=toggleDisplayMappingFileds() class="btn btn-outline-primary"> 
                               Add New Mapping
                           </button>
                        </div>
                    </div>    
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive table-head-fixed mt-2">
                                <table class="table table-striped table-bordered dataSourceTable table-fixed">
                                    <thead>
                                        <tr>
                                            <th width="10px"></th>
                                            <th>Mapping Name</th>
                                            <th width="200px">Staging Table Name </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="radio" name="existing-mapping"/>
                                            </td>
                                            <td> Banking Feed</td>
                                            <td>
                                                <button type="button" class="btn btn-link p-0">View</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <input type="radio" name="existing-mapping"/>
                                            </td>
                                            <td> Banking Feed</td>
                                            <td>
                                                <button type="button" class="btn btn-link p-0">View</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <input type="radio" name="existing-mapping"/>
                                            </td>
                                            <td> Banking Feed</td>
                                            <td>
                                                <button type="button" class="btn btn-link p-0">View</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <input type="radio" name="existing-mapping"/>
                                            </td>
                                            <td> Banking Feed</td>
                                            <td>
                                                <button type="button" class="btn btn-link p-0">View</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                        
                  
                    <div class="row">
                        <div class="col-md-6">1 - 25 of 1254</div>
                        <div class="col-md-6 text-right">&lt; page 1 of 7 &gt;</div>
                    </div>

                    

                <div class="row">
                    <div class="col-md-12 mb-3 mt-3">
                        <button type="submit" class="btn btn-outline-dark">Edit</button>
                        <button type="reset" class="btn btn-outline-dark ml-2">Delete</button>
                    </div>
                </div>

                <!-- Add New Mapping Hide div -->
                <div [hidden]="isShowMappingFileds">
                    <app-create-newplan></app-create-newplan>
                </div>
                <!-- Add New Mapping Hide div close-->
                    
                </tab>
                <tab heading="Map Graph Relationships">
                    Second tab
                </tab>
            </tabset>
        </div>  


    </div>
</div>