.home-component{
    .home-banner{
        background: #0a1737; /* Old browsers */
        background: -moz-linear-gradient(left,  #0a1737 0%, #062cad 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #0a1737 0%,#062cad 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #0a1737 0%,#062cad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1737', endColorstr='#062cad',GradientType=1 ); /* IE6-9 */
    }

    .card{
        border-radius: 0;
        &:hover{
            border-color: #062cad;   
            background-color:#eff6fa;         
            .explore-icon{                
                // background:url('../../assets/images/icons/hierarchical-structure.svg') no-repeat left top;
                svg{
                    fill: red;
                }
            }
        }
        .explore-icon{
            // background:url('../../assets/images/icons/hierarchical-structure.svg') no-repeat left top;
            svg{
                // fill: yellow;
                width: 35px;
            }
        }

        &.add-new-graph{
            border: 1px dashed #062cad;
            &:hover{          
                background-color:#eff6fa; 
                .explore-icon{
                    // background:url('../../assets/images/icons/plush.png') no-repeat center top; 
                    svg{
                        fill: red;
                    }
                }
            }            
            .explore-icon{
                // background:url('../../assets/images/icons/plus.png') no-repeat center top;
                svg{
                    // fill: yellow;
                    width: 35px;
                }
            }
        }
        a{
            color: #000;
            &:hover{                
                text-decoration: none;
            }
        }
        .explore-icon{
            display: block;
            min-height: 35px;
        }
    }

    @media screen and (max-width: 900px) and (min-width: 600px) {
        .custom-col-6{
            width: 50%;
        }
        // .custom-mb-3{
        //     margin-bottom: 1rem;
        // }
    }
}