<div class="home-component">

    <!-- Home Banner -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0 home-banner">
                <div class="container text-white py-5">
                    <h1>Welcome to <br/> Atlas, John!</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/> Lorem Ipsum has been the industry's standard</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Home Banner Close-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5 pb-3">
                <h2>Explore & Query</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/> Lorem Ipsum has been the industry's standard</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <span class="explore-icon">
                            <img src="../../assets/images/icons/633641.png" width="30px"/>
                        </span>
                        <h4 class="pt-2">Full GRC</h4>
                        <p> Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <span class="explore-icon">
                            <img src="../../assets/images/icons/633641.png" width="30px"/>
                        </span>
                        <h4 class="pt-2">Full GRC</h4>
                        <p> Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card add-new-graph">
                    <a href="#" class="card-body text-center">
                        <span class="explore-icon">
                            <img src="../../assets/images/icons/plus.png" width="15px"/>
                        </span>
                        <h4 class="pt-2">Add New Graph View</h4>
                        <p> Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- No need in ur code  -->
    <div class="py-5"></div>
    <!-- No need in ur code  -->
</div>